/* page detail user */

.card-detail-user {
    color: black;
    width: 1000px;
    margin: auto;
}

.detail-user h4 {
    color: black;
    font-weight: 800;
    border-bottom: 2px solid rgba(65, 61, 61, 0.5);
    padding-bottom: 20px;
}

.detail-user .image {
    position: relative;
}

.detail-user .image img {
    border-radius: 100%;
    border: 4px solid rgba(211, 211, 211, 0.7);
}

.detail-user .upload {
    position: absolute;
    bottom: 10px;
    right: 75px;
    padding: 5px 8.5px 5px;
    background-color: lightgray;
    border-radius: 100%;
}

.detail-user .kiri {
    border-right: 1px solid rgba(65, 61, 61, 0.5);
}

.detail-user .kanan {
    padding-left: 30px;
}

.detail-user .danger {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.detail-user p {
    color: red;
    font-weight: 800;
    font-size: 16px;
    padding-bottom: 25px;
}
